* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Verdana", Arial, sans-serif;
    background-color: white;
}

/* Home Page Bar */
.topnav {
    float: right;
    margin: 40px 80px 0 0;
}

.topnav a {
    text-decoration: none;
    font-size: 1.23em;
    font-weight: 500;
    width: 80px;
    margin-inline: 20px;
}

.non-active {
    color: #aeaeae;
}

.active {
    color: #3c3c3c;
}

.topnav a:hover {
    color: #dfd16b;
}

.topnav .dot {
    margin-top: 6px;
    width: 20px;
    height: 4px;
    background: #dfd16b;
    border-radius: 15%;
    opacity: 0;
}

.topnav a:nth-child(1):hover ~ .dot {
    transform: translateX(50px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.topnav a:nth-child(2):hover ~ .dot {
    transform: translateX(165px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

/* Home Page Intro */
header {
    text-align: center;
    margin: 180px 200px 180px 200px;
}

/* Home Page Cards */
.container {
    padding-top: 120px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7fbfd;
}

.card {
    flex: 0 0 250px;
    margin: 2rem;
}

.eachcard {
    height: 375px;
    width: 500px;
    border-radius: 10px;
}

.eachcard:hover {
    opacity: 0.6;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.25s ease;
}

p {
    text-align: center;
}

/* About Page */
.logo {
    margin: 40px 0 12px 100px;
}

section:first-child {
    flex-basis: 240px;
}

section:last-child {
    flex-basis: 800px;
    margin-top: 60px;
}

.intro {
    display: flex;
    flex-wrap: wrap;
}

.ruo {
    width: 250px;
    border-radius: 50%;
    float: left;
    margin: 80px 0 0 120px;
}

.name, .intro p {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-inline: 80px;
    line-height: 1.5;
}

small {
    font-size: 1.12rem;
    margin-top: 5px;
}

footer {
    margin: 50px 0 40px 0;
    font-size: 15px;
}

.fa {
    color: rgb(160, 160, 185);
}