* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Varela Round';
  background-color: white;
}

p {
  font-size: 16.5px;
}

/* Home Page Bar */
.topnav {
  float: right;
  margin: 40px 80px 0 0;
}

.topnav a {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 500;
  width: 80px;
  margin-inline: 20px;
}

.non-active {
  color: #aeaeae;
}

.active {
  color: #3c3c3c;
}

.topnav a:hover {
  color: #3c3c3c;
}

.topnav .dot {
  margin-top: 5px;
  width: 30px;
  height: 3px;
  background: #94a8b0;
  opacity: 0;
}

.topnav a:nth-child(1):hover ~ .dot {
  transform: translateX(44px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.topnav a:nth-child(2):hover ~ .dot {
  transform: translateX(155px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/* Home Page Intro */
.home-header {
  text-align: center;
  font-size: 20px;
  margin: 180px 250px 180px 250px;
}

.home-header p {
  font-size: 18px;
}

/* Home Page Cards */
.container {
  padding-top: 120px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #f7fbfd; */
}

.card {
  flex: 0 0 250px;
  margin: 2rem;
}

.eachcard {
  height: 360px;
  width: 500px;
}

.eachcard:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.25s ease;
}

.card h2 {
  font-size: 26px;
  margin-bottom: 0px;
}

.tag {
  font-size: 15px;
  font-weight: 500;
  color:rgb(73, 73, 73);
  border: 1px solid #94a8b0;
  display: inline-block;
  padding: 0.5rem;
}

footer p {
  text-align: center;
  font-size: 15px;
}

/* About Page */
.logo {
  margin: 40px 0 12px 100px;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro section:last-child {
  flex-basis: 730px;
  margin-top: 60px;
}

.ruo {
  width: 250px;
  border-radius: 50%;
  float: left;
  margin: 80px 0 0 120px;
}

.name, .intro p {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding-inline: 100px;
  line-height: 1.5;
}

small {
  font-size: 1.12rem;
  margin-top: 5px;
}

footer {
  margin: 50px 0 40px 0;
  font-size: 15px;
}

.fa {
  color: #94a8b0;
  margin-left: 4px;
}

/* Each Project Page */
.project-top {
  text-align: center;
  margin: 80px 0 80px 0;
}

.top-picture {
  width: 100%;
  display: block;
}

.project-team {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0 160px;
}

.project-team section:last-child {
  margin-left: 50px;
}

.project-team p {
  text-align: left;
}

.project-text {
  margin: 60px 170px 0 170px;
  line-height: 1.7;
}

hr {
  margin: -15px 0 30px 0;
}

.project-text img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.project-text p {
  margin-left: 40px;
  margin-right: 40px;
}

h3 {
  margin-top: 30px;
}

.insights {
  margin-bottom: 60px;
}

.two-images {
  display: flex;
  width: 60%;
}

.two-images img {
  margin-inline: 10px;
}

.joyos-low {
  margin-top: 40px;
}