/* General */
html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

h1, h2, h3, h4, a, p, li {
  font-family: "Mulish";
  color: #1F2937;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

/* Navigation Bar */
.logo {
  max-height: 42px;
  margin: auto 0 auto 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
}

nav ul {
  font-size: 1.2rem;
  margin: 8px 10% auto 0;
  padding: 30px 0 30px 0;
}

nav li {
  display: inline;
  padding: 1vw;
}

nav a {
  text-decoration: none;
}

nav ul li a {
  color: #9a9a9a;
}

nav li.active a {
  color: #1F2937;
}

/* Home Introduction */
.intro {
  margin: 8% 24% 15% 24%;
  text-align: center;
}

.intro h2 {
  font-size: 20px;
  line-height: 1.6;
}

/* Home Portfolio */
.each-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.each-project img {
  width: 35%;
  margin-bottom: 5%;
}

.each-project .text {
  margin: 1% 0 0 5%;
  max-width: 400px;
}

.each-project a {
  display: inline-block;
  background-color: #1F2937;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 18%;
}

.each-project a:hover {
  background-color: gray;
}

/* About Me Page */
.about-intro {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.photo {
  float: left;
  width: 220px;
  border-radius: 30px;
  margin-left: 8%;
}

.introduction {
  text-align: left;
  margin: 0 8% 0 5%;
  max-width: 52%;
}

.introduction p {
  line-height: 1.5;
}

/* Each Project Page */
.project-top {
  text-align: center;
  margin: 10% 20% 12% 20%;
  line-height: 1.75em;
}

.project-top h1 {
  font-size: 40px;
  color: #4e4e4e;
  margin-bottom: 6%;
}

.project-top p {
  font-size: 19px;
}

.top-picture {
  width: 100%;
  display: block;
  margin: 0 auto 0 auto;
}

.project-team {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0 5% 14%;
}

.project-team section:last-child {
  margin-left: 4%;
}

.project-team p {
  text-align: left;
}

.project-text {
  margin: 6% 14% 10% 14%;
  line-height: 1.7;
}

.project-text h1 {
  text-align: center;
  text-decoration: underline;
}

.project-text a {
  color: #3366CC;
}

.project-text img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Footer */
footer .container {
  text-align: center;
  margin: 10% 0 3% 0;
}

footer p {
  margin-bottom: 2%;
}

@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 22px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}